@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Paleta de color: */

#60BB45 #FDB926 #F5831E #E13A3E #973C97 #009DDD
/* Fin Paleta de Color */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: linear-gradient(-65deg, #E13A3E 10%, #973C97, #009DDD 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  max-width: 100%;
  
}

/* FIN BODY */


.divisor {
  height: 2px;
  background-color: #1f1d1d15;
  border-radius: 100%;
  margin: 20px;

}

h1,
h3 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  margin: 5px;
  letter-spacing: 1px;

}

ul li{
  
  list-style: none;
  text-align: justify;
  width: 95%;

   
}



/* Aspectos Generales */

.contenedor--principal {
  width: 90%;
  max-width: 960px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.7);
  margin: 20px auto;
  border-radius: 10px;
}

.contenedor--principal .col--izq {
  position: relative;
  padding: 1px;
  background-color: rgb(244, 244, 244);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: #414a56dd 0px 0px 5px 0px;
   z-index: 2;

}

.contenedor--principal .col--der {
  position: relative;
   background: rgba(244, 244, 244, 0.933);
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   z-index: 1;
}

header.info-encabezado {
  background: linear-gradient(-65deg, #E13A3E, #ab2c2f);
  background-color: #E13A3E;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-left-radius: 10px;
  margin: 0px;
  padding: 0px;

}

picture.info-encabezado {
  padding: 30px;
}

picture.info-encabezado img {
  margin: 0 auto;
  border-radius: 150px;
  border: 3px solid #ffffff;
  width: 120px;
  height: 120px;

}

.info-encabezado h1 {

  font-size: 1, 2em;
  width: 90%;
  line-height: 50px;
  letter-spacing: 4px;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.info-encabezado h3 {
  font-size: 1, 2em;
  width: 90%;
  line-height: 50px;
  letter-spacing: 2px;
  margin-top: 10px;
  padding: 20px;


}

nav.info-encabezado__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  top: 425px;
  position: absolute;
  left: 0px;

}

nav button#refresh,
#call,
#mail {
  border-style: none;
  width: 100%;
  height: 45px;
  padding: 5px;
  background-color: #2c29293b;
  color: #ffffff;
  font-weight: 200;
  font-size: 0.75em;
  border: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

nav button#call {
  border: 1px;
  border-bottom-left-radius: 2px;
}

nav button .tooltiptext {
  font-size: 0.5em;
  font-weight: 500;
}


nav button#refresh:hover,
button#call:hover,
button#mail:hover {
  background-color: #fdb92690;
  ;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

/* Fin del Menu */


.social-medias {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin: 0 auto;
}

.social-medias img {
  position: relative;
  margin: auto;
  padding: 20px 0px;
}

.social-medias img:hover {
  filter: hue-rotate(90deg)
}

picture#logo--qr {

  text-align: center;
  justify-content: center;
  font-weight: 600;

}

picture span.github {
  margin-top: 101px;

}

#logo--qr img {

  height: 100px;
  width: 100px;

}

#logo--qr a {font-size: 0.75em;
font-weight: 600;
text-decoration: none;
color:#282828ea;
display: flex;
justify-content: center;}


#logo--qr a:hover{
  color: #F5831E;
}

/*  Fin Social Medias */


.tecno_info h3.title {
  color: #282828ea;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  margin: 0 auto;
}

.tecno_info img.stack {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  padding: 30px 0px;
}

.tecno_info img.stack:hover {
  filter: grayscale(20%)
}


/* Final Columna Izquierda */

/* Inicio Columna  Derecha  */

.educacion_info h3.title, 
.experiencia_info h3.title,
.skills_info h3.title  
{
  color: #282828ea;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  margin: 0 auto;
}

ul li h3{color:#2c2929e2;
  font-size: 14px;
  text-align: left;}

 li.span.texto, li.span.fecha{color:#2c2929e2;
    font-size: 14px;
    text-align: left;}
  

.skills_info ul { 
  
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 gap: 20px;
 justify-content: center;
text-align: center;
}    




.skills_info h4, p { 
  justify-content: center;
  text-align: center;
font-size: 0.8em;
 }    

/* INICIO QUERIES*/

@media (max-width: 1000px) {

  body {  
    overflow:none;   
    }
  .contenedor--principal {

    grid-template-columns: repeat(1, 1fr);
    margin: 0px;

  }

}